@*@using QualifiedAgencies
<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="javascript:void(0);">QualifiedAgencies</a>.</strong> All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>@L("Version")</b> @AppVersionHelper.Version [@AppVersionHelper.ReleaseDate.ToString("yyyyMMdd")]
    </div>
</footer>
*@
<footer class="footer undefined undefined">
    <p class="clearfix text-muted m-0"><span> &copy; @DateTime.Now.Year &nbsp;</span>@*<a href="https://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" id="pixinventLink" target="_blank">PIXINVENT</a>*@<span class="d-none d-sm-inline-block">- المركز الوطني للرقابة على الالتزام البيئي</span></p>
</footer>